@import "tailwindcss";

:root {
  --color-bg: #1e1e1e;
  --color-fg: #ffffff;
  --color-main: #00ff00;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: var(--color-bg);
  color: var(--color-fg);
  font-family: 'Roboto', sans-serif;
  height: 100%;
}

::selection {
  background-color: var(--color-accent);
  color: #000;
}

